@CHARSET "gbk";
.xiai-foot-around{
	background:url(/assets/images/front/index/background_bg.png);
	padding:10px 0px 20px 0px;
}
.xiai-foot-around .xiai-foot{
	width:990px;height:100%;margin:0 auto;display:none;
	background:url(/assets/images/front/index/foot_filter_hover.jpg);
	position:relative;
}
.xiai-foot-around .xiai-foot a{
	display:inline-block;
	float:left;
	width:247.5px;
	height:100%;
}
.xiai-foot-around .tongji{
	display:none;
}
.xiai-foot-around .links{
	width:1080px;margin:10px auto;color:#fff;font-size:14px;color:gray;
}
.xiai-foot-around .links .link a{
	color:#fff;font-size:14px;margin-right:10px;text-decoration:none;color:gray;
}
.xiai-foot-around .links .link{
	width:100%;padding-top:10px;margin:10px auto;text-align:center;
}