@CHARSET "gbk";
*{
	padding:0px;
	margin:0px;
}
.clearfix{
	clear:both;
}
/* head-tips-bar*/
.head-tips-bar-around{
    background: #fff;
}
.head-tips-bar{
	width:1080px;margin:0 auto;height:26px;position:relative;background:#FFF;padding-top:5px;
}
.head-tips-bar .left{
	float:left;display:none;
}
.head-tips-bar .right{
	float:right;
}
.head-tips-bar .right a{
	display:inline-block;text-decoration:none;color:#000;background:#fff;padding:2px 2px;font-size:13px;
	font-family:"宋体";
}
/* end-head-tips-bar*/
.head-around{
	background:#fff;
}
.head-index{
	width:1080px;margin:0 auto;height:66px;padding-top:20px;position:relative;
}
.head-index .logo{
	width:180px;height:44px;background:url(/assets/images/front/index/logotm.png);float:left;
}
.head-index .searchitem{
	height:30px;float:left;margin:0px 0px 0px 66px;position:relative;
}
.head-index .searchitem .sbox{
	width:447px;height:40px;border:#C40000 solid 2px;	
}
.head-index .searchitem .spress{
	height:44px;border:none;width:90px;margin-left:-10px;background:#C40000;color:white;letter-spacing: 4px;font-family:"宋体";
}
.head-nav-around{
	background:#CF201C;
}
.head-nav-around .head-nav{
	width:1080px;margin:0 auto;
}
.head-nav-around .head-nav a{
	display:inline-block;padding:8px 18px;color:#fff;text-decoration:none;
}
.head-nav-around .head-nav a.cur{
	background:#BF0000;font-weight:800;
}
/* 返回顶部 */

/* END - 返回顶部 */

/* 浮动价格导航 */
.scoll_nav{
	position:fixed;width:100%;top:0px;z-index: 99999;background: #000;
}
/* END - 浮动价格导航 */

/* 报名查询 */
.head-index .bmcq{
	float:right;width:244px;height:31px;background:url(/assets/images/front/index/toolbar_links4.png) no-repeat;margin-top:7px;
}
.head-index .bmcq a{
	display:block;width:105.5px;height:100%;float:left;
}
/* END - 报名查询 */

/* 首页用户信息及签到 */
.user-ctrl-around{
	height:42px;
	background:#fff;
	margin:15px auto 0px auto;
        width:1080px;
}
.user-ctrl-around .user-ctrl{
	padding:7px;
}
.user-ctrl-around .user-ctrl .user-pic{
	float:left;
	height:30px;
	width:30px;
	background:url(/assets/images/front/avatar.png);
	background-size:30px 30px;
}
.user-ctrl-around .user-ctrl .user-info{
	float:left;
	/*width:300px;*/
	line-height:30px;
	margin:auto 5px auto 15px ;
	color:#767676;
}
.user-ctrl-around .user-ctrl .user-info .name{
	color:#F72F85;
	margin:auto 5px;
}
.user-ctrl-around .user-ctrl .user-info .num{
	margin:auto 5px;
}
.user-ctrl-around .user-ctrl .user-info a{
	text-decoration: none;
}
.user-ctrl-around .user-ctrl .user-info .get-help{
	color:#F72F85;
}
.user-ctrl-around .user-ctrl .love-site{
	float:left;
	display:inline-block;
	margin:auto 8px;
}
.user-ctrl-around .user-ctrl .love-site .simple-like{
	padding:3px;
}
.user-ctrl-around .user-ctrl .user-checkin{
	float:left;
}
.user-ctrl-around .user-ctrl .user-checkin .checkin-btn{
	margin:3px;
	width:132px;
	height:22px;
	background:url(/assets/images/front/btn-qd.png);
	cursor:pointer;
}
.user-ctrl-around .user-ctrl .fav{
	float:right;
	color:#767676;
	line-height:30px;
	margin:auto 10px auto 15px;
}
.user-ctrl-around .user-ctrl .fav span.user-dh{
	background:url(/assets/images/front/ico-dh.png) no-repeat;
	color:#424242;
	text-decoration: none;
	font-weight:550;
	padding-left:18px;
	margin-left:15px;
	cursor:pointer;
}
.user-ctrl-around .user-ctrl .fav span.user-dh:hover{
	color:#D10303;
}
/* end - 首页用户信息及签到 */
