@CHARSET "gbk";
body{
	background:url(/assets/images/front/index/background_bg.png);
}
.iinfo{
	width:1080px;margin:20px auto;background:#fff;
}
.iinfo .left{
	width:160px;text-align:left;float:left;padding-left:20px;
}
.iinfo .left ul{
	border:#ddd 1px solid;margin:20px auto;
}
.iinfo .left li.hd{
	margin:0px;padding:8px 0px 8px 10px;background:#ccc;
}
.iinfo .left li{
	margin:8px auto;list-style-type:none;padding-left:10px;
}
.iinfo .left li span{
	display:inline-block;float:right;color:gray;margin-right:5px;
}
.iinfo .left li a{
	text-decoration:none;
}
.iinfo .right{
	float:left;margin:20px auto auto 20px;
}
.iinfo .right div{
	margin:10px auto;
}
.iinfo .right div span{
	margin-left:5px;
}