@CHARSET "gbk";
body{
	background:url(/assets/images/front/index/background_bg.png);
}

.login-main{
	position:relative;
	width:80%;
	height:80%;
	margin:5% auto;
	background:#fff;
	box-shadow: 0px 0px 1px rgba(34, 25, 25, 0.1);
	border: 1px solid rgb(230, 228, 228);
	padding:10px;
}
.login-main .left{
	float:left;
	margin:10px;
	width:650px;
}
.login-main .left .tips{
	margin-bottom:20px;
}
.login-main .left .tips span{
	display:inline-block;margin:auto 5px;
}
.login-main .left .zuce{
	font-size:14px;color:#FE5598;
}
.login-main .left .denglu{
	font-size:28px;font-weight:500;
}
.login-main .left .login-from{
	margin-left:42px;color:gray;
}
.login-main .left .login-from .col{
	margin:15px auto;
}
.login-main .left .login-from .col input.input{
	width:280px;height:34px;border:none;background:url(/assets/images/front/login/input_bg.jpg);
}
.login-main .left .login-from label{
	display:inline-block;width:80px;text-align:right;
}
.login-main .left .login-from .col input.submit{
	background:#FE5598;border:none;color:#fff;padding:5px 10px;font-size:14px;
}
.login-main .right{
	float:right;display:none;
}
.login-main .right .other-login{
	padding:30px 20px 0px 0px;
}
.login-main .right .other-login span{
	display:inline-block;margin:5px auto;
}